* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background: linear-gradient(35deg, rgb(6, 6, 82), black);
  width: 100%;
  height: 100vh;
  color: #fff;
}
header nav {
  background-color: rgb(34, 158, 12);
  color: black;
  padding: 10px;
}

header nav h1 {
  text-align: center;
  text-shadow: 2px 2px white;
  font-size: 40px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.weather-container {
  border: 1px solid white;
  background: linear-gradient(45deg, rgb(11, 11, 148), rgb(11, 126, 157));
  box-shadow: 2px 2px 2px #fff;
  padding: 30px;
  border-radius: 14px;
}

.weather-container h1 {
  font-size: 50px;
  text-shadow: 2px 2px red;
  text-transform: capitalize;
}

.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.input-field input {
  width: 80%;
  padding: 15px 20px;
  border: 1px solid white;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
}

.input-field input::placeholder {
  color: #b7b1b1;
  font-weight: bold;
}

.input-field span {
  font-size: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.temperature {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.cityName {
  font-size: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 2px 2px red;
}

.weather-details {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.humidity-content {
  display: flex;
  gap: 10px;
}
.humidity-content i,
.wind-content i {
  font-size: 40px;
}

.humidity-items p,
.wind-content p {
  font-size: 20px;
  font-weight: 700;
}

.humidity-items:last-child {
  text-transform: capitalize;
}

.wind-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-content-details {
  display: none;
}

.weather-content-details {
  text-align: center;
}

.weather-content-details img {
  width: 90px;
}

.humidity-items p {
  margin-top: 10px;
  margin-left: 10px;
}

.humidity-content {
  display: flex;
  align-items: center;
}

.humidity-items p:first-child {
  font-weight: 900;
  font-size: 25px;
  color: green;
}

@media (max-width: 550px) {
  main {
    padding-inline: 30px;
  }

  .input-container h1 {
    font-size: 30px;
    text-wrap: nowrap;
    text-align: center;
  }

  .input-field input {
    padding: 10px;
  }

  .weather-details {
    justify-content: space-between;
    gap: 20px;
  }

  .humidity-content {
    gap: 5px;
  }

  .humidity-content i {
    font-size: 30px;
  }

  .wind-content i {
    font-size: 30px;
  }

  .humidity-items p {
    font-size: 20px;
    margin-left: 5px;
  }

  .humidity-items p:first-child {
    font-weight: 500;
    font-size: 20px;
    color: green;
  }
  .humidity-items p:last-child {
    font-size: 20px;
    text-wrap: nowrap;
  }
}

@media (max-width: 380px) {
  .input-container h1 {
    font-size: 20px;
    text-wrap: nowrap;
    text-align: center;
  }

  .input-container {
    padding: 5px;
  }
}
